@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" role="alert" class="fixed inset-x-0 bottom-0 z-50">
        <div class="bg-indigo-600/90 dark:bg-indigo-700/90 text-white rounded-t-xl sm:rounded-t-lg px-4 py-3 flex flex-col text-center text-lg">
            <h1>We use cookies to store login info and improve your experience. <a class="underline" href="/privacy">Privacy Policy</a></h1>
            
            <button type="button" class="font-semibold p-2" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                Accept
            </button>
        </div>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
                var alert = document.getElementById("cookieConsent");
                alert.style.display = "none";
            }, false);
        })();
    </script>
}