@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" role="alert" class="absolute top-14 left-1/2 -ml-[340px] bg-indigo-300/90 dark:bg-indigo-800/90 text-white rounded-full px-4 py-3">
        We use cookies to store login info and improve your experience. <a class="underline" href="/privacy">Learn More</a>.
        <button type="button" class="font-semibold" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Accept</span>
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
                var alert = document.getElementById("cookieConsent");
                alert.style.display = "none";
            }, false);
        })();
    </script>
}