@using Microsoft.AspNetCore.Components.Web
@namespace InglemoorCodingComputing.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en" style="margin-left: calc(100vw - 100%);">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="title" content="Inglemoor Coding & Computing Club">
        <meta name="description" content="The official website for the Coding & Computing Club of Inglemoor High School.">
        <meta name="keywords"
            content="Inglemoor, Inglemoor High School, Inglemoor High School Coding and Computing Club, IHS CCC">
        <meta name="google-site-verification" content="u7MsttzbCwZ2Fe_mhFlkn7tMbU6hC5XzIRZzQ_oBTgg" />
        <meta name="msvalidate.01" content="BAD210899123084CB7EC45E3C781C819" />

        <base href="~/" />
        <link rel="stylesheet" href="tailwind.css" />
        <link href="css/site.css" rel="stylesheet" />
        <link title="light" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/github.min.css" disabled>
        <link title="dark" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/github-dark.min.css" disabled>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/fsharp.min.js"></script>
        <script>
            window.highlightSnippet = function(){
                hljs.highlightAll();
            }
        </script>
        <script>
            if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark')
                document.querySelector(`link[title="dark"]`).removeAttribute("disabled");
            }
            else {
                document.documentElement.classList.remove('dark')
                document.querySelector(`link[title="light"]`).removeAttribute("disabled");
            }
            highlightSnippet();
        </script>
        <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    </head>
    <body class="bg-white dark:bg-zinc-900">
        @RenderBody()

        <div id="blazor-error-ui">
            <environment include="Staging,Production">
                An error has occurred. This application may no longer respond until reloaded.
            </environment>
            <environment include="Development">
                An unhandled exception has occurred. See browser dev tools for details.
            </environment>
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>

        <script src="js/timezone.js"></script>
        <script src="js/http.js"></script>
        <script src="js/theme-switcher.js"></script>
        <script src="_framework/blazor.server.js"></script>

    </body>
</html>
