@page "/"

<PageTitle>Inglemoor CCC</PageTitle>

<div class="flex flex-col h-full">
    <div class="flex-grow">
        <div class="flex flex-col justify-center">
            <div class="py-4 lg:py-10">
                <img src="logo.webp" class="w-4/5 md:w-3/5 lg:w-1/3" style="margin-left: auto; margin-right: auto;"/>
            </div>
            <button class="no-invert dark:invert my-20 mx-auto" onclick="document.getElementById('about').scrollIntoView({behavior:'smooth'})">
                <img class="animate-bounce" src="/static/down-arrow.png" style="width:60px; left: calc(50vw - 60px / 2);">
            </button>
        </div>
        <StaticEmbed Tag="_about"/>
    </div>

    <div class="text-slate-900 dark:text-slate-300 flex flex-col justify-center">
        <h1 class="text-2xl text-center py-4">Learn More</h1>
        <div class="flex flex-wrap justify-center space-x-3 space-y-2 font-light text-slate-600 dark:text-slate-300">
            <div>
                <a href="https://forms.gle/2VvzPCraey5jskEy5" target="_blank" class="mt-2 flex items-center rounded-full py-1 px-3 bg-gray-300 dark:bg-gray-700 hover:bg-gray-100 hover:dark:bg-gray-600">
                    <img class="h-8" src="png/gforms.png"/>
                    <p class="ml-2">Interest Form</p>
                </a>
            </div>
            <div>
                <a href="https://discord.gg/4s6stUApbc" target="_blank" class="flex items-center rounded-full py-1 px-3 bg-gray-300 dark:bg-gray-700 hover:bg-gray-100 hover:dark:bg-gray-600">
                    <img class="h-8" src="png/discord-logo.png"/>
                    <p class="ml-2">Discord</p>
                </a>
            </div>
            <div>
                <a href="https://www.instagram.com/inglemoorcoding/" target="_blank" class="flex items-center rounded-full py-1 px-3 bg-gray-300 dark:bg-gray-700 hover:bg-gray-100 hover:dark:bg-gray-600">
                    <img class="h-8" src="png/instagram-logo.png"/>
                    <p class="ml-2">@@inglemoorcoding</p>
                </a>
            </div>
            <div>
                <a href="https://www.remind.com/join/inglecode/" target="_blank" class="flex items-center rounded-full py-1 px-3 bg-gray-300 dark:bg-gray-700 hover:bg-gray-100 hover:dark:bg-gray-600">
                    <img class="h-8" src="png/remind-logo.png"/>
                    <p class="ml-2">Remind (or, text @@inglecode to 81010)</p>
                </a>
            </div>
        </div>
    </div>
</div>