@page "/"

<PageTitle>Inglemoor Coding</PageTitle>

<div class="flex flex-col h-full">
    <div class="flex-grow">
        <StaticEmbed Tag="_about"/>
    </div>

    <div class="text-slate-900 dark:text-slate-300 flex flex-col justify-center">
        <h1 class="text-xl text-center py-4">Learn More</h1>
        <div class="flex justify-center space-x-2 font-light text-slate-600 dark:text-slate-300">
            <a href="https://forms.gle/2VvzPCraey5jskEy5" target="_blank" class="flex items-center rounded-full py-1 px-3 bg-gray-300 dark:bg-gray-700 hover:bg-gray-100 hover:dark:bg-gray-600">
                <img class="h-8" src="png/gforms.png"/>
                <p class="ml-2">Interest Form</p>
            </a>
            <a href="https://discord.gg/4s6stUApbc" target="_blank" class="flex items-center rounded-full py-1 px-3 bg-gray-300 dark:bg-gray-700 hover:bg-gray-100 hover:dark:bg-gray-600">
                <img class="h-8" src="png/discord-logo.png"/>
                <p class="ml-2">Discord</p>
            </a>
            <a href="https://www.instagram.com/inglemoorcoding/" target="_blank" class="flex items-center rounded-full py-1 px-3 bg-gray-300 dark:bg-gray-700 hover:bg-gray-100 hover:dark:bg-gray-600">
                <img class="h-8" src="png/instagram-logo.png"/>
                <p class="ml-2">@@inglemoorcoding</p>
            </a>
            <a href="https://www.remind.com/join/inglecode/" target="_blank" class="flex items-center rounded-full py-1 px-3 bg-gray-300 dark:bg-gray-700 hover:bg-gray-100 hover:dark:bg-gray-600">
                <img class="h-8" src="png/remind-logo.png"/>
                <p class="ml-2">Remind (or, text @@inglecode to 81010)</p>
            </a>
        </div>
    </div>
</div>