@page "/meetings"

<PageTitle>Meetings</PageTitle>

<!--
    <AuthorizeView>
        <Authorized>
            <h3>Meetings</h3>
            Hello, @context.User.Identity?.Name!
        </Authorized>
        <NotAuthorized>
            <p>Not authorized</p>
        </NotAuthorized>
    </AuthorizeView>
-->
<h1 class="text-center pt-5 text-slate-900 dark:text-slate-200 text-2xl font-mono">Stay tuned for more!</h1>

@code {
}
