@page "/meetings"

<PageTitle>Meetings</PageTitle>

<!--
    <AuthorizeView>
        <Authorized>
            <h3>Meetings</h3>
            Hello, @context.User.Identity?.Name!
        </Authorized>
        <NotAuthorized>
            <p>Not authorized</p>
        </NotAuthorized>
    </AuthorizeView>
-->
<h1 class="pt-5 font-mono text-2xl text-center text-slate-900 dark:text-slate-200">Stay tuned for more!</h1>

@code {
}
