@page "/meetings"

<PageTitle>Meetings</PageTitle>

<AuthorizeView>
    <Authorized>
        <h3>Meetings</h3>
        Hello, @context.User.Identity?.Name!
    </Authorized>
    <NotAuthorized>
        <p>Not authorized</p>
    </NotAuthorized>
</AuthorizeView>


@code {

}
