@page "/authentication/login-failure"

<div class="flex justify-center">
    <div class="flex flex-col text-center">
        <h2 class="text-slate-900 dark:text-slate-200 text-3xl mt-4 mb-3">Login failed</h2>
    </div>
</div>