@page "/authentication/register-success"

<div class="flex justify-center">
    <div class="flex flex-col text-center">
        <h2 class="text-slate-900 dark:text-slate-200 text-3xl mt-4 mb-3">Sign up successful</h2>
        <h3 class="text-indigo-600 dark:text-indigo-400">Welcome to the Inglemoor Coding and Computing Club!</h3>
    </div>
</div>
