@page "/authentication/verify-email"
@inject IUserAuthService UserAuthService

@if (result is true)
{
    <h2>Successfully verified email, please <a href="/authentication/login">log in again.</a></h2>
}
else if (result is false)
{
    <h2>Invalid Link.</h2>
}


@code {
    [Parameter, SupplyParameterFromQuery]
    public string? Token { get; set; }

    private bool? result;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            result = Token is not null && await UserAuthService.VerifyEmailAsync(Token);
            await InvokeAsync(StateHasChanged);
        }
    }
}
