@page "/dashboard/meetings"
@inject IMeetingsService MeetingsService
@inject IUserStateService UserStateService
@inject TimeZoneService TimeZoneService
@implements IDisposable
@layout DashboardLayout
@attribute [Authorize(Roles="Admin")]
<AdminCheck/>

<PageTitle>Meeting</PageTitle>

<div class="p-3">
    <h3 class="text-3xl font-semibold dark:text-indigo-300">Meetings</h3>

    <h4>Create Meeting</h4>
    <div>
        <EditForm Model="@creation" OnValidSubmit="@CreateAsync" class="flex flex-col p-4 space-y-3 border border-gray-300 rounded-2xl w-80">
            <label>
                Name:
                <InputText class="px-2 py-1 border border-indigo-500 rounded-lg focus:outline-none dark:bg-zinc-800" id="name" @bind-Value="creation.Name" />
            </label>
            <label>
                Details (optional):<br/>
                <textarea class="px-2 py-1 border border-indigo-500 rounded-lg focus:outline-none dark:bg-zinc-800" id="details" @bind="creation.Details" />
            </label>
            <label>
                Month/Day<br/>
                <InputNumber class="w-10 px-2 py-1 border border-indigo-500 rounded-lg focus:outline-none dark:bg-zinc-800" id="month" @bind-Value="creation.Month" />
                /
                <InputNumber class="w-10 px-2 py-1 border border-indigo-500 rounded-lg focus:outline-none dark:bg-zinc-800" id="day" @bind-Value="creation.Day" />
            </label>
            <label>
                Start Time:
                <InputText class="w-24 px-2 py-1 border border-indigo-500 rounded-lg focus:outline-none dark:bg-zinc-800" id="start" @bind-Value="creation.StartTime" />
            </label>
            <label>
                End Time:
                <InputText class="w-24 px-2 py-1 border border-indigo-500 rounded-lg focus:outline-none dark:bg-zinc-800" id="end" @bind-Value="creation.EndTime" />
            </label>
            <div class="text-rose-500">
                <DataAnnotationsValidator />
                <ValidationSummary />
                @error
            </div>
            <button class="bg-indigo-500 rounded-md" type="submit">Create</button>
        </EditForm>
    </div>

    @if (next is not null)
    {
        <div class="pt-5">
            Next Meeting:
            <MeetingView Meeting=@next Editable=true OnDelete="async x => { await MeetingsService.DeleteAsync(x.Id); await InvokeAsync(StateHasChanged); }"/>
        </div>
    }
    <div class="overflow-auto">
        <span class="pt-5">All Meetings:</span>
        <Virtualize Items=@meetings Context="meeting">
            <MeetingView Meeting=meeting ShowAttendees=true Editable=true OnDelete="async x => { await MeetingsService.DeleteAsync(x.Id); await InvokeAsync(StateHasChanged); }"/>
        </Virtualize>
    </div>
</div>

@code {
    MeetingCreationRequest creation = new();
    string? error;

    Meeting? next;

    List<Meeting> meetings = new();

    private async Task CreateAsync()
    {
        error = null;
        var user = await UserStateService.CurrentAsync();
        Guid? id = user is null ? null : user.Id;
        if (creation.ToMeeting(id, out var meeting))
        {
            await MeetingsService.CreateAsync(meeting);
            await ClearAsync();
        }
        else
            error = "Invalid Parameters";
    }

    private async Task ClearAsync()
    {
        var dt = (await TimeZoneService.GetLocalDateTime(DateTimeOffset.UtcNow)).LocalDateTime;
        creation.StartTime = dt.ToString("t");
        creation.Day = dt.Day;
        creation.Month = dt.Month;
        creation.Name = string.Empty;
        creation.Details = string.Empty;
        creation.EndTime = string.Empty;
    }

    private async Task RefreshAsync()
    {
        var dt = (await TimeZoneService.GetLocalDateTime(DateTimeOffset.UtcNow)).LocalDateTime;
        meetings = await MeetingsService.GetMeetingsAsync(AppUser.AcademicYear).ToListAsync();
        meetings.Sort((x, y) => x.Date.CompareTo(y.Date));
        next = await MeetingsService.NextAsync(dt);
    }

    private async void OnChanged(object? _, EventArgs __)
    {
        await RefreshAsync();
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ClearAsync();
            await RefreshAsync();
            MeetingsService.Changed += OnChanged;
            await InvokeAsync(StateHasChanged);
        }
    }

    public void Dispose() =>
        MeetingsService.Changed -= OnChanged;
}
