@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<button class=@Class @onclick=LogoutAsync>@ChildContent</button>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? ReturnUrl { get; set; }

    private async Task LogoutAsync()
    {
        // Logout.
        await JSRuntime.InvokeAsync<int>("post", new[] { "/api/auth/logout", "" });
        NavigationManager.NavigateTo(ReturnUrl ?? NavigationManager.BaseUri, true);
    }
}
