@inject IJSRuntime JSRuntime
@inject UserLogoutManager UserLogoutManager
@inject NavigationManager NavigationManager
@using System.Security.Claims

<button class=@Class onclick=@($"post('/api/auth/logout', '').then((result) => window.location.href = '{Nav}');")>
    @ChildContent
</button>

@code {
    [CascadingParameter]
    protected Task<AuthenticationState> AuthState { get; set; } = default!;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? ReturnUrl { get; set; }

    private string Nav => ReturnUrl ?? NavigationManager.BaseUri;
}
