@inject NavigationManager NavigationManager
@inject IUserStateService UserStateService
@implements IDisposable

<nav class="py-2">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between min-h-16">

            <div class="flex-1 flex items-center justify-center sm:items-stretch justify-start md:justify-center">
                <div class="grow-0 mr-2 my-auto">
                    <div class="flex items-center">
                        <button class="flex-none" @onclick="() => navOpen = !navOpen">
                            <img class="h-10" src="/logo.webp" alt="Inglemoor Coding Computing Club Logo">
                        </button>
                        <a href="/" class="mx-4 font-extrabold text-2xl break-words font-mono text-transparent bg-clip-text bg-gradient-to-r from-amber-400 dark:from-amber-300 to-red-800 dark:to-red-700">Inglemoor Coding & Computing Club</a>
                    </div>
                </div>
                <div class="hidden sm:block sm:ml-6 my-auto">
                    <div class="flex space-x-4">
                        <NavLink href="about" ActiveClass="!border-indigo-500" class="text-slate-900 dark:text-slate-300 text-base transition duration-150 border-b-4 px-2 py-2 text-sm font-semibold border-transparent hover:border-indigo-500">About</NavLink>
                        <NavLink href="meetings" ActiveClass="!border-indigo-500" class="text-slate-900 dark:text-slate-300 text-base transition duration-150 border-b-4 px-2 py-2 text-sm font-semibold border-transparent hover:border-indigo-500">Meetings</NavLink>
                        <NavLink href="resources" ActiveClass="!border-indigo-500" class="text-slate-900 dark:text-slate-300 text-base transition duration-150 border-b-4 px-2 py-2 text-sm font-semibold border-transparent hover:border-indigo-500">Resources</NavLink>
                        <AuthorizeView Roles="Admin">
                            <NavLink href="dashboard" ActiveClass="!border-indigo-500" class="text-slate-900 dark:text-slate-300 text-base transition duration-150 border-b-4 px-2 py-2 text-sm font-semibold border-transparent hover:border-indigo-500">Dashboard</NavLink>
                        </AuthorizeView>
                    </div>
                </div>
                <ThemeToggle/>
                <div class="hidden sm:flex flex-nowrap space-x-2 ml-4 my-auto font-semibold h-12">
                    <AuthorizeView>
                        <NotAuthorized>
                            <a href="authentication/login" class="inline-flex items-center whitespace-nowrap rounded-xl border-2 border-indigo-400 hover:border-transparent hover:shadow-lg text-indigo-500 hover:shadow-indigo-300/50 hover:bg-indigo-500 hover:text-white px-3 py-1">Sign in</a>
                            <a href="authentication/register" class="inline-flex items-center whitespace-nowrap rounded-xl bg-indigo-500 hover:shadow-lg hover:shadow-indigo-500/50 px-3 py-1 text-white">Sign up</a>
                        </NotAuthorized>
                        <Authorized>
                            <a class="text-indigo-500 inline-flex items-center whitespace-nowrap hover:underline" href="/profile">
                                Welcome, @firstName
                            </a>
                            <LogoutButton Class="inline-flex items-center whitespace-nowrap rounded-xl bg-indigo-500 hover:shadow-lg hover:shadow-indigo-500/50 px-3 py-1 text-white">Sign out</LogoutButton>
                        </Authorized>
                    </AuthorizeView>

                </div>
            </div>
            <!-- Mobile menu, show/hide based on menu state. -->
            @if (navOpen)
            {
                <div class="absolute sm:hidden w-full h-full">
                    <div class="flex flex-col px-4 pt-2 pb-3 space-y-1 bg-gray-300/95 dark:bg-gray-700/90 rounded-lg ">
                        <button class="text-slate-900 dark:text-white block pt-2" @onclick="() => navOpen = false">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                        <NavLink href="about" ActiveClass="!border-indigo-500" class="block text-slate-900 dark:text-slate-300 text-base transition duration-150 border-b-4 px-2 py-2 text-sm font-semibold border-transparent hover:border-indigo-500">About</NavLink>
                        <NavLink href="meetings" ActiveClass="!border-indigo-500" class="block text-slate-900 dark:text-slate-300 text-base transition duration-150 border-b-4 px-2 py-2 text-sm font-semibold border-transparent hover:border-indigo-500">Meetings</NavLink>
                        <NavLink href="resources" ActiveClass="!border-indigo-500" class="block text-slate-900 dark:text-slate-300 text-base transition duration-150 border-b-4 px-2 py-2 text-sm font-semibold border-transparent hover:border-indigo-500">Resources</NavLink>
                        <AuthorizeView Roles="Admin">
                            <NavLink href="dashboard" ActiveClass="!border-indigo-500" class="block text-slate-900 dark:text-slate-300 text-base transition duration-150 border-b-4 px-2 py-2 text-sm font-semibold border-transparent hover:border-indigo-500">Dashboard</NavLink>
                        </AuthorizeView>
                        <div class="flex pt-2 space-x-2">
                            <AuthorizeView>
                                <NotAuthorized>
                                    <a href="authentication/login" class="inline-flex items-center whitespace-nowrap rounded-xl border-2 border-indigo-400 hover:border-transparent hover:shadow-lg text-indigo-500 hover:shadow-indigo-300/50 hover:bg-indigo-500 hover:text-gray-300 px-3 py-1 bg-white dark:bg-gray-700">Sign in</a>
                                    <a href="authentication/register" class="inline-flex items-center whitespace-nowrap rounded-xl bg-indigo-500 hover:shadow-lg hover:shadow-indigo-500/50 px-3 py-1 text-white">Sign up</a>
                                </NotAuthorized>
                                <Authorized>
                                    <a class="text-indigo-500 inline-flex items-center whitespace-nowrap hover:underline" href="/profile">
                                        Welcome, @firstName
                                    </a>
                                    <LogoutButton Class="inline-flex items-center whitespace-nowrap rounded-xl bg-indigo-500 hover:shadow-lg hover:shadow-indigo-500/50 px-3 py-1 text-white">Sign out</LogoutButton>
                                </Authorized>
                            </AuthorizeView>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</nav>

@code {
    private bool navOpen;
    private string? firstName;
    private async void OnLocationChanged(object? _, LocationChangedEventArgs __)
    {
        navOpen = false;
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            NavigationManager.LocationChanged += OnLocationChanged;
            firstName = (await UserStateService.CurrentAsync())?.FirstName;
            await InvokeAsync(StateHasChanged);
        }
    }

    public void Dispose() =>
        NavigationManager.LocationChanged -= OnLocationChanged;

}