@inject IStaticPageService StaticPageService
@inject IJSRuntime JSRuntime
@inject ILogger<StaticEmbed> Logger

@if (notFound && Area is null)
{
    <h3 class="text-rose-500">Content not found</h3>
}
else if (contents is not null)
{
    <div class="flex justify-center">
        <div class=@(SmallEmbed ? "embed-prose" : "styled-prose")>
            @((MarkupString)contents)
        </div>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public string Tag { get; set; } = string.Empty;

    [Parameter]
    public string? Area { get; set; }

    [Parameter]
    public bool SmallEmbed { get; set; }

    private string? contents;

    private bool notFound = false;
    
    protected override async Task OnInitializedAsync()
    {
        if (Tag is null) 
        {
            notFound = true;
            await InvokeAsync(StateHasChanged);
            return;
        }
        var page = await (Area is null ? StaticPageService.FindAsync(Tag) : StaticPageService.FindAsync(Tag, Area));
        if (page is null || !page.Live)
        {
            notFound = true;
            Logger.LogError($"Unable to find static content: '{Tag}'");
            await InvokeAsync(StateHasChanged);
            return;
        }
        contents = page.Rendered;
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("highlightSnippet");
    }
}
